# SPDX-FileCopyrightText: 2021-2022 CERN and the Corryvreckan authors
# SPDX-License-Identifier: CC0-1.0

# exclude everything that is not relevant for Docker context
*
!3rdparty
!cmake
!CMakeLists.txt
!doc
!etc
!LICENSE.md
!src
!testing
